#box1 {
    width: 100px;
    height: 100px;
    background-color: green;
    font-size:10px;
    display: inline;
    position: static;
}

#box2 {
    width: 30%;
    margin-left:10%;
    height: 50px;
    background-color: yellow;
    font-size:2em;
    width:5em;
    display: inline;
    position: relative;
    top:20px;
    left:10px;
}

#box3 {
    width: 30%;
    margin-left:10%;
    height: 50px;
    background-color:brown;
    font-size:2em;
    width:5rem;
    display: inline;
    position: absolute;
    top:0px;
    right:20px;
}

#box4 {
    margin-left:10%;
    height: 30vh;
    background-color:brown;
    font-size:2em;
    width:50vw;
    display: inline;
    position: fixed;
    right:10px;
    bottom:20px;
}

#box5 {
    margin-left:10%;
    height: 30vh;
    background-color:brown;
    font-size:2em;
    width:50vw;
    display: inline;
    position: sticky;
    top:0px;
    left:20px;
}